.noupper{
    text-transform: none !important;
}
.modalInfo .card:first-child{
    margin-bottom: 10px;
}
.modalInfo .card-header{
    background: #F1AD32;
    color: #F7F7F7;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}
.modalInfo .card-body{
    padding: 10px 20px;
    padding-bottom: 0px;
}
.modalInfo .card-body div span{
    text-transform: uppercase;
    display: block;
} 
.modalInfo .card-body div span:nth-child(1){
    font-weight: bold;
    font-size: 12px;
    color: #707070;
    margin-bottom: 2px;
}
.modalInfo .card-body div span:nth-child(2){
    font-size: 13px;
    color: #191919;
    margin-bottom: 10px;
}

form{
    background: rgba(0, 0, 0, 0.041);
    padding: 10px;
}
.check-register{
    position: absolute;
    top: 65px;
    right: 5px;
    z-index: 2;
}
.form-group{
    margin: 0 !important; 
    margin-bottom: 5px !important;
}
.form-validations{
    border: 1px dashed #FF4D4F;
    border-top: none;
    padding: 6px 8px;
}
.form-validations span{
    display: block;
    color: #FF4D4F;
}