<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="modalVisible"
  nzTitle="INFORMACIÓN"
  (nzOnCancel)="modalCancel()"
  (nzOnOk)="modalOk()"
>
  <div *ngIf="estudiante" class="modalInfo">
    <div class="card">
      <div class="card-header">
        Perfil
      </div>
      <div class="card-body">
        <div>
          <span>nombre completo:</span>
          <span>{{ estudiante.apellido }}, {{ estudiante.nombre }}</span>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <span>dni:</span>
            <span>{{ estudiante.dni }}</span>
          </div>
          <div *ngIf="estudiante.fechaNac" class="col-md-4 col-sm-12">
            <span>fecha nacimiento:</span>
            <span>{{ estudiante.fechaNac }}</span>
          </div>
          <div class="col-md-4 col-sm-12">
            <span>género:</span>
            <span>{{ estudiante.sexo }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Contacto
      </div>
      <div class="card-body">
        <div>
          <span>distrito:</span>
          <span>{{ estudiante.distrito.nombre }}</span>
        </div>
        <div *ngIf="estudiante.direccion">
          <span>dirección:</span>
          <span>{{ estudiante.direccion }}</span>
        </div>
        <div *ngIf="estudiante.correo">
          <span>correo:</span>
          <span class="noupper">{{ estudiante.correo }}</span>
        </div>
        <div *ngIf="estudiante.telefono">
          <span>teléfono:</span>
          <span>{{ estudiante.telefono }}</span>
        </div>
      </div>
    </div>
  </div>
</nz-modal>
<div class="card">
  <div class="card-body px-3 py-1">
    <nz-tabset [nzSelectedIndex]="tabIndex">
      <nz-tab nzTitle="ESTUDIANTES">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead class="bg-secondary">
              <tr class="text-light">
                <th>#</th>
                <th>Nombre y Apellido</th>
                <th>DNI</th>
                <th>Télefono</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of estudiantes">
                <td>{{ estudiante.id }}</td>
                <td>
                  {{ estudiante.apellido | uppercase }},
                  {{ estudiante.nombre | uppercase }}
                </td>
                <td>{{ estudiante.dni }}</td>
                <td *ngIf="estudiante.telefono">{{ estudiante.telefono }}</td>
                <td *ngIf="!estudiante.telefono">
                  <span class="badge badge-warning">
                    NO DEFINIDO
                  </span>
                </td>
                <td *ngIf="estudiante.correo">{{ estudiante.correo }}</td>
                <td *ngIf="!estudiante.correo">
                  <span class="badge badge-warning">
                    NO DEFINIDO
                  </span>
                </td>
                <td *ngIf="estudiante.estado">
                  <span class="badge badge-success">ACTIVO</span>
                </td>
                <td *ngIf="!estudiante.estado">
                  <span class="badge badge-warning">INACTIVO</span>
                </td>
                <td>
                  <button
                    class="btn btn-outline-primary pt-0"
                    (click)="moreInfo(estudiante.id)"
                  >
                    <i nz-icon nzType="info" nzTheme="outline"></i>
                  </button>
                  <button
                    class="btn btn-outline-primary pt-0"
                    style="border-left: none;"
                  >
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <nz-alert
          nzType="info"
          nzMessage="Por terminar:"
          nzDescription="Validaciones, Actualizar, Desactivar/Activar estudiante, add datatable"
          nzShowIcon
          class="mb-2"
        >
        </nz-alert>
      </nz-tab>
      <nz-tab nzTitle="AGREGAR">
        <label nz-checkbox [(ngModel)]="isChecked" class="check-register"
          >Registro Masivo</label
        >
        <form
          autocomplete="off"
          class="col-xl-6 col-lg-8 col-md-12 mx-auto"
          [formGroup]="studentForm"
          (ngSubmit)="submitForm()"
        >
          <div class="form-row">
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="dni" nzRequired>DNI</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="dni" type="text" id="dni" />
              </nz-form-control>
              <div
                class="form-validations"
                *ngIf="dni.invalid && (dni.dirty || dni.touched)"
              >
                <span *ngIf="dni.errors.required">Campo requerido</span>
                <span *ngIf="dni.errors.maxlength || dni.errors.minlength"
                  >La longitud de caracteres debe ser 8.</span
                >
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="name" nzRequired>Nombres</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="nombre"
                  type="text"
                  id="name"
                />
              </nz-form-control>
              <div
                class="form-validations"
                *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
              >
                <span *ngIf="nombre.errors.required">Campo requerido</span>
              </div>
            </div>
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="lastname" nzRequired
                >Apellidos</nz-form-label
              >
              <nz-form-control>
                <input
                  nz-input
                  formControlName="apellido"
                  type="text"
                  id="lastname"
                />
              </nz-form-control>
              <div
                class="form-validations"
                *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
              >
                <span *ngIf="apellido.errors.required">Campo requerido</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <nz-form-label nzFor="sexo" nzRequired>Género</nz-form-label>
            <nz-radio-group formControlName="sexo" class="w-100">
              <label nz-radio-button nzValue="M" class="w-50 text-center"
                >Masculino</label
              >
              <label nz-radio-button nzValue="F" class="w-50 text-center"
                >Femenino</label
              >
            </nz-radio-group>
            <div
              class="form-validations"
              *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)"
            >
              <span *ngIf="sexo.errors.required">Campo requerido</span>
            </div>
          </div>

          <div class="form-group">
            <nz-form-label nzFor="date"
              >Fecha de Nacimiento (yyyy-MM-dd)</nz-form-label
            >
            <div class="form-row">
              <div class="form-group col-4">
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="year"
                    type="number"
                    placeholder="Año"
                  />
                </nz-form-control>
              </div>
              <div class="form-group col-5">
                <nz-select
                  formControlName="month"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Mes"
                  class="w-100"
                  (ngModelChange)="changeMonth($event)"
                >
                  <nz-option
                    *ngFor="let month of months; let i = index"
                    [nzLabel]="month.name"
                    [nzValue]="i + 1"
                  ></nz-option>
                </nz-select>
              </div>
              <div class="form-group col-3">
                <nz-select
                  formControlName="day"
                  nzPlaceHolder="Día"
                  class="w-100"
                >
                  <nz-option
                    *ngFor="let day of days"
                    [nzLabel]="day"
                    [nzValue]="day"
                  ></nz-option>
                </nz-select>
              </div>
            </div>
            <div
              class="form-validations"
              *ngIf="year.invalid && (year.dirty || year.touched)"
            >
              <span *ngIf="year.errors.max || year.errors.min"
                >Rango válido: 1950 - {{ currentYear }}</span
              >
              <!-- <span *ngIf="!year.errors.pattern">Solo se aceptan números</span> -->
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="district" nzRequired
                >Distrito</nz-form-label
              >
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Distrito"
                class="w-100"
                formControlName="distrito"
              >
                <nz-option
                  *ngFor="let distrito of distritos"
                  [nzLabel]="distrito.nombre"
                  [nzValue]="distrito"
                ></nz-option>
              </nz-select>
              <div
                class="form-validations"
                *ngIf="distrito.invalid && (distrito.dirty || distrito.touched)"
              >
                <span *ngIf="distrito.errors.required">Campo requerido</span>
              </div>
            </div>
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="direccion">Dirección</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="direccion"
                  type="text"
                  id="direccion"
                />
              </nz-form-control>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="movil">Télefono</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="telefono"
                  type="tel"
                  id="movil"
                />
              </nz-form-control>
              <div
                class="form-validations"
                *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
              >
                <span
                  *ngIf="telefono.errors.maxlength || telefono.errors.minlength"
                  >La longitud requerida es de 9.</span
                >
              </div>
            </div>
            <div class="form-group col-xl-6 col-lg-12">
              <nz-form-label nzFor="email">Correo</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="correo"
                  type="email"
                  id="email"
                />
              </nz-form-control>
            </div>
          </div>
          <button nz-button class="w-100 my-2" [nzType]="'primary'">
            Registrar
          </button>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
