<header>
  <div class="title">
    <img src="../../../assets/img/logo-make.svg" alt="Logo" height="85%">
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <span class="mdi mdi-menu-open" id="toggleSidebar" (click)="toggleSidebar()"></span>
</header>
<div class="sidebar" id="sidebar">
  <div class="top o-sidebar">
    <ul>
      <li routerLink="/home" routerLinkActive="link-active">
        <a class="link">
          <span class="mdi mdi-home-outline"></span>
          Inicio
        </a>
      </li>
      <li>
        <span class="link" id="tool" (click)="toggleTools()">
          <span class="mdi mdi-toolbox-outline"></span>
          Mantenimiento
          <span class="i-triangle"></span>
        </span>
      </li>
      <div class="subitem novisible" id="toolitem">
        <li>
          <a class="link" routerLink="/student" routerLinkActive="link-active">
            Estudiante
          </a>
        </li>
        <li>
          <a class="link" routerLink="/home" routerLinkActive="link-active">
            Patrocinador
          </a>
        </li>
      </div>
      <li>
        <span class="link">
          <span class="mdi mdi-cog-outline"></span>
          Configuración
        </span>
      </li>
    </ul>
  </div>
  <div id="c-user" class="o-sidebar" (mouseleave)="closeOptionUser()">
    <div class="user" id="user" (mouseenter)="showOptionUser()">
      <span>
        A
      </span>
      <span>Aimar Andony</span>
    </div>
    <ul class="list-user" id="listuser">
      <li>
        <a class="link" routerLink="/login" style="text-align: right; padding-right: 14px; background: #002433;">
          <span class="mdi mdi-logout-variant"></span>
          Salir
        </a>
      </li>
    </ul>
  </div>
</div>
<main id="main">
  <div class="cortina novisible" id="cortina"></div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
