.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #f0f2f5;
  background: #002433;
  padding: 0 20px;
}

.c-form {
  width: 400px;
  border: 1px solid #01131a;
  padding: 10px;
}
.c-form .c-form-body {
  background: #01131a;
  padding: 40px;
}
.logo {
  margin-bottom: 20px;
}

.logo a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo a img {
  width: 300px;
}

.logo a h1 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  font-size: 16px;
  padding: 3px !important;
}

.login-form-button {
  width: 100%;
}

@media (max-width: 400px){
  .c-form{
    width: 95%;
  }
}